<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Valor</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="debit in bcCtrl.billingCycle.debts">
            <td>
                <input ng-model="debit.name" class="form-control" placeholder="Informe o Nome"
                    ng-readonly="bcCtrl.tabDelete">
            </td>
            <td>
                <input ng-model="debit.value" class="form-control" placeholder="Informe o Valor"
                    ng-readonly="bcCtrl.tabDelete" type="number">
            </td>
            <td>
                <input ng-model="debit.status" class="form-control" placeholder="Informe o Status"
                    ng-readonly="bcCtrl.tabDelete">
            </td>
            <td class="table-actions">
                <button class="btn btn-success" ng-class="{disabled: bcCtrl.tabDelete}">
                    <i class="fa fa-plus"></i>
                </button>
                <button class="btn btn-warning" ng-class="{disabled: bcCtrl.tabDelete}">
                    <i class="fa fa-clone"></i>
                </button>
                <button class="btn btn-danger" ng-class="{disabled: bcCtrl.tabDelete}">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>